/* Etiquetas DIV */

body {
	margin: 0;
	padding: 0;
	border: 0;
	
}
#container {
    /*background-image: url('../images/logo.png');*/
	background-repeat:no-repeat;
	width:80%;

}

#iMenu {
	width: 100%;
	overflow: hidden;

}
#column_l {
    width: 50%;
    position: relative;
 
    float: left;

}
#column_r {
	width: 50%;
	position: relative;
	float: right;

}
#content
{
	width: 100%;
	top: 2px;
	left: -69px;
}
